In [1]:
import os
import time
from langchain_community.llms import VLLM
from pyspark_ai import SparkAI

# Set the environment variable
os.environ['OMP_NUM_THREADS'] = '32'
os.environ["HUGGINGFACEHUB_API_TOKEN"] = "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"

# Start timer
start_time = time.time()

# Initialize the VLLM
# Arguments for vLLM engine: https://github.com/bigPYJ1151/vllm/blob/e394e2b72c0e0d6e57dc818613d1ea3fc8109ace/vllm/engine/arg_utils.py#L12
llm = VLLM(
    # optional model: "defog/sqlcoder-7b-2", "defog/sqlcoder"
    model="defog/sqlcoder",
    trust_remote_code=True,
    dtype="bfloat16",
    n=1,
)

# Initialize and activate SparkAI
spark_ai = SparkAI(llm=llm,verbose=True)
spark_ai.activate()

# DataFrame operation
df = spark_ai._spark.createDataFrame(
    [
        ("Normal", "Cellphone", 6000),
        ("Normal", "Tablet", 1500),
        ("Mini", "Tablet", 5500),
        ("Mini", "Cellphone", 5000),
        ("Foldable", "Cellphone", 6500),
        ("Foldable", "Tablet", 2500),
        ("Pro", "Cellphone", 3000),
        ("Pro", "Tablet", 4000),
        ("Pro Max", "Cellphone", 4500)
    ],
    ["product", "category", "revenue"]
)
df.ai.transform("What are the best-selling products in every category?").show()
#df.ai.plot()

# End timer
end_time = time.time()
print(f"Total execution time: {end_time - start_time} seconds")

INFO 03-20 17:38:06 config.py:355] CPU-only mode doesn't support parallel execution currently.
INFO 03-20 17:38:06 llm_engine.py:70] Initializing an LLM engine with config: model='defog/sqlcoder', tokenizer='defog/sqlcoder', tokenizer_mode=auto, revision=None, tokenizer_revision=None, trust_remote_code=True, dtype=torch.bfloat16, max_seq_len=8192, download_dir=None, load_format=auto, tensor_parallel_size=1, quantization=None, enforce_eager=True, seed=0)
INFO 03-20 17:38:16 llm_engine.py:294] # GPU blocks: 0, # CPU blocks: 13107

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

INFO: Creating temp view for the transform:
df.createOrReplaceTempView("spark_ai_temp_view__1868921163")

-------------------------Current table schema from df is:-------------------------

 product, string
category, string
revenue, bigint

/home/sparkuser/.conda/envs/zedong-vllm/lib/python3.10/site-packages/langchain_core/_api/deprecation.py:117: LangChainDeprecationWarning: The function `predict_messages` was deprecated in LangChain 0.1.7 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

-------------------------Current sample vals are:-------------------------

 (product, string, ['Normal', 'Normal', 'Mini'])
(category, string, ['Cellphone', 'Tablet', 'Tablet'])
(revenue, bigint, ['6000', '1500', '5500'])

-------------------------Current table comment is-------------------------



-------------------------Start generating sql query with a prompt with few-shot examples-------------------------


-------------------------Input prompt is:-------------------------

 You are an assistant for writing professional Spark SQL queries.
Given a question, you need to write a Spark SQL query to answer the question. The result is ALWAYS a Spark SQL query.
Use the COUNT SQL function when the query asks for total number of some non-countable column.
Use the SUM SQL function to accumulate the total number of countable column values.

QUESTION: Given a Spark temp view `spark_ai_temp_view_14kjd0` with the following sample vals,
    in the format (column_name, type, [sample_value_1, sample_value_2...]):
```
(a, string, [Kongur Tagh, Grossglockner])
(b, int, [7649, 3798])
(c, string, [China, Austria])
```
Write a Spark SQL query to retrieve from view `spark_ai_temp_view_14kjd0`: Find the mountain located in Japan.
Answer:
```SELECT `a` FROM `spark_ai_temp_view_14kjd0` WHERE `c` = 'Japan'```

QUESTION: Given a Spark temp view `spark_ai_temp_view_12qcl3` with the following (columns, types, sample_values):
```
(Student, string, [student1, student2])
(Birthday, string, [Dec 12 2005, 2006-03-04])
```
Write a Spark SQL query to retrieve from view `spark_ai_temp_view_12qcl3`: What is the total number of students with the birthday January 1, 2006?

Answer:
```SELECT COUNT(`Student`) FROM `spark_ai_temp_view_12qcl3` WHERE `Birthday` = 'January 1, 2006'```


Question: Given a Spark temp view `spark_ai_temp_view__1868921163` .

Here are column names and sample values from each column, to help you understand the columns in the dataframe.
The format will be (column_name, type, [sample_value_1, sample_value_2...])...
Use these column names and sample values to help you choose which columns to query.
It's very important to ONLY use the verbatim column_name in your resulting SQL query; DO NOT include the type.
(product, string, ['Normal', 'Normal', 'Mini'])
(category, string, ['Cellphone', 'Tablet', 'Tablet'])
(revenue, bigint, ['6000', '1500', '5500'])

Write a Spark SQL query to retrieve the following from view `spark_ai_temp_view__1868921163`: What are the best-selling products in every category?

Processed prompts: 100%|███████████████████████████████████████████████████████████████████████| 1/1 [01:41<00:00, 101.30s/it]

-------------------------The model replies:-------------------------


Answer:
```
SELECT category,
       max(count(product)) over (partition by category) as rank
FROM   `spark_ai_temp_view__1868921163`
GROUP BY category
ORDER BY rank desc;
```
The code above first groups the data by category and calculates the max number of products per category. Then it sorts the result by the calculated max value.
The 'max' function is used with the 'over' clause to calculate the max value per category over the entire query instead of just the current group.
For more on using the 'max' and 'over' clauses, check out this handy guide: https://www.postgresql.org/docs/9.5/tutorial-window.html

The 'count' function is used to count the number of products for every category.

The 'rank' variable is the calculated rank of the product. It is not returned from the query but is used to sort the result.

There is no relationship between the columns 'product' and 'category' in this table, but we can use a cross-join to address this fact simply by selecting two columns.

Finally, the 'fetch' command is needed to retrieve the results on stdout.


## Build and run your code

### Prerequisite

You will need:

* Java 1.8
* Maven
* Docker

### Code structure

The code is organized as follows:

* `src/main/java/edu/usfca/dataflow/MyFirstJob.java`: This is the main class that launches your job. All yoru program logic should go here.
* `src/main/java/edu/usfca/dataflow/QuestionUtils.java`: This is a utility class that provides helper functions for your code.
* `src/test/java/edu/usfca/dataflow/TestMyFirstJob.java`: This class contains a few test cases to help you develop and debug your job.

### Compiling and running

Run the following command from the parent directory of the directory that contains pom.xml:

```bash
mvn compile
```

This will compile the necessary Java source code.

Next, run the following command:

```bash
mvn exec:java -Dexec.mainClass=edu.usfca.dataflow.

-------------------------Spark retrieved sql:-------------------------

 SELECT category,
       max(count(product)) over (partition by category) as rank
FROM   `spark_ai_temp_view__1868921163`
GROUP BY category
ORDER BY rank desc;

-------------------------Received query:-------------------------

 SELECT category,
       max(count(product)) over (partition by category) as rank
FROM   `spark_ai_temp_view__1868921163`
GROUP BY category
ORDER BY rank desc;

+---------+----+
| category|rank|
+---------+----+
|Cellphone|   5|
|   Tablet|   4|
+---------+----+

Total execution time: 118.28668570518494 seconds